#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-form {
  display: grid;
  gap: 16px;
  padding: 2rem;
}

.chat-message {
  border: 1px solid;
  border-radius: 25px;
  padding: 2rem;
  margin-bottom: 9px;
  margin-top: 9px;
}

.card {
  padding: 2em;
}

